///////////////////////////
// * COLORS AND GLOBAL * //
///////////////////////////

$fg-color: #d9d9d9;
$bg-color: #232323;
$fg-color-bold: #ffffff;
$bg-color-bold: #141414;

$bg-accent-green: #5ca77c;
$bg-accent-red: #c2565a;
$bg-accent-blue: #5c7cc2;
$bg-accent-yellow: #c2b25c;
$bg-accent-purple: #7c5fc0;
$bg-accent-cyan: #5ca7a7;

.bar0, 
.bar1 {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.bar {
    margin: 2px 4px;
    padding: 2px 4px;
    font-weight: bold;
    border-radius: 13px;
    background-color: rgba($bg-color, 0.9);
    border: 2px solid;
    border-color: $bg-accent-green;
    font-family: 'JetBrains Mono NF', monospace;
}


////////////////
// * GROUPS * //
////////////////

// .right {}

// .center {}

// .left {}



/////////////////
// * WIDGETS * //
/////////////////

// * WORKSPACES * //
.workspaces {
    background-color: $bg-color-bold;
    padding: 0px 10px;
    margin: 2px;
    border-radius: 13px;
}

.ws-active {
    color: $bg-accent-green;
}

.ws-inactive {
    background-color: transparent;
}

.workspaces button {
    border: none;
    padding: 4px 12px 4px 8px;
}

.workspaces button:hover {
    background-color: rgba($fg-color, 0.5);
    border: none;
}

// * UPDATES * //
.updates {
    background-color: $bg-color-bold;
    padding: 0px 10px;
    margin: 2px;
    border-radius: 13px;
}

// * VOLUME * //
.volume {
    background-color: $bg-color-bold;
    border-radius: 13px;
    padding: 0px 10px;
    margin: 2px;
    border: none;
}

.volume:hover {
    background-color: rgba($fg-color, 0.5);
}

// * TRAY * //
.tray {
    background-color: $bg-color-bold;
    border-radius: 13px;
    min-width: 50px;
    padding: 0px 10px;
    margin: 2px;
}

// * MEDIA * //
.media {
    background-color: $bg-color-bold;
    border-radius: 13px;
    padding: 0px 10px;
    margin: 2px;
}

// * CLOCK * //
.clock {
    background-color: $bg-color-bold;
    border-radius: 13px;
    padding: 0px 10px;
    margin: 2px;
}
// * WINDOW TITLE * //
.window_title {
    background-color: $bg-color-bold;
    border-radius: 13px;
    padding: 0px 10px;
    margin: 2px;
}

// * BATTERY * //
.battery {
    background-color: $bg-color-bold;
    padding: 0px 10px;
    margin: 2px;
    border-radius: 13px;
}