/*

!.gitignore

!eww/
!eww/**

!hypr
!hypr/**

!colours
!colours/**

!kitty
!kitty/**

# !fish
# fish/fish_variables
# fish/completions

!dunst
!dunst/**

!rofi
!rofi/**

!scripts
!scripts/**


!*.md

!gtk-3.0/
!gtk-3.0/**
gtk-3.0/assets/
gtk-3.0/bookmarks

!gtk-4.0/
!gtk-4.0/**
gtk-4.0/assets/
gtk-4.0/bookmarks

!switch.sh